.App {
  
  text-align: center;
  background-image: url("./assets/vector-cloud-smoke-blue-background-cloud-smoke-fog-sky-png_156846-1020.avif");
}
body{
  display: flex;
  align-items: center;
  text-align: center ;
  justify-content: center;
}
.textm{
  text-align: center;
   justify-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.app:before {
  content: ""  !important;
  background-image: url("./assets/53625.jpg") !important;
  width: 100% !important;
  height: 100% !important;
 
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,h2,p,h3{
  color: white;
}
.top{

  align-content: center;
  text-align: center ;
  justify-content: center;
  background: rgb(34,193,195);
background: linear-gradient(3deg, rgba(34,193,195,0.1292892156862745) 0%, rgba(80,152,105,0.05646008403361347) 100%);
}